.App{
  text-align: center;
}
/*Header Page Style*/
.headerpage{
  background-color: #593d88;
  color: #ba8fff;
  text-align: left;
  padding: 10px;
  padding-left: 5%;
  border-bottom: 2px #ba8fff solid;
}
/*Welcome Page Style*/
.motive{
  color: white;
  background-color: #593d88;
  padding: 2%;
}
.banner{
  color: #ba8fff;
  padding: 5%;
}
.vl {
  padding: 5px 0px 5px 0px;
  border-left: 2px solid rgba(128, 0, 128, 0.3);
  height: 60px;
}
.btn-login{
  background-color: #593d88;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
.btn-signup{
  background-color: #593d88;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
.btn-post-job{
  background-color: #593d88;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}
.searchbar{
  padding: 10px;
  border: 2px solid #593d88;
  height: 100%;
  text-decoration: none;
  border-radius: 5px;
}
.footer{
  padding: 10vh 0;
  background-color: #593d88;
  color: white;
}
